<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ui.timeline" >




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainTimeLineActivity"/>

        <activity android:name="com.ui.timeline.activity.OrderActivity"/>

        <activity android:name=".activity.TimeLineActivity"/>
        <activity android:name=".activity.TraceActivity"/>

    </application>





</manifest>
